## Basic Python - Project <a id='intro'></a>

## Introduction <a id='intro'></a>
In this project, you will work with data from the entertainment industry. You will study a dataset with records on movies and shows. The research will focus on the "Golden Age" of television, which began in 1999 with the release of *The Sopranos* and is still ongoing.

The aim of this project is to investigate how the number of votes a title receives impacts its ratings. The assumption is that highly-rated shows (we will focus on TV shows, ignoring movies) released during the "Golden Age" of television also have the most votes.

### Stages 
Data on movies and shows is stored in the `/datasets/movies_and_shows.csv` file. There is no information about the quality of the data, so you will need to explore it before doing the analysis.

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Data analysis

## Stage 1. Data overview <a id='data_review'></a>

Open and explore the data.

<div class="alert alert-danger"; style="border-left: 7px solid red">
<b>⛔️ Reviewer's comment, v. 1</b> 
    
Before sending a new version, please click `Kernel - > Restart & Run all` to make sure that your code is working

You'll need `pandas`, so import it.

In [127]:
import pandas as pd # importing pandas

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> Needed library has been added </div>

Read the `movies_and_shows.csv` file from the `datasets` folder and save it in the `df` variable:

In [128]:
df = pd.read_csv('/datasets/movies_and_shows.csv') # reading the files and storing them to df

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> The correct path to the file is specified: the slash at the beginning of the path is very important, as it indicates that you need to search for the file in the root folder. </div>

Print the first 10 table rows:

In [129]:
df.head(10) # obtaining the first 10 rows from the df table
# hint: you can use head() and tail() in Jupyter Notebook without wrapping them into print()

,name,Character,r0le,TITLE,Type,release Year,genres,imdb sc0re,imdb v0tes
0,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
1,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
2,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
3,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
4,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
5,Peter Boyle,Wizard,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
6,Leonard Harris,Senator Charles Palantine,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
7,Diahnne Abbott,Concession Girl,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
8,Gino Ardito,Policeman at Rally,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
9,Martin Scorsese,Passenger Watching Silhouette,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0

Obtain the general information about the table with one command:

In [130]:
df.info() # obtaining general information about the data in df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0      name       85579 non-null  object
 1   Character     85579 non-null  object
 2   r0le          85579 non-null  object
 3   TITLE         85578 non-null  object
 4     Type        85579 non-null  object
 5   release Year  85579 non-null  int64
 6   genres        85579 non-null  object
 7   imdb sc0re    80970 non-null  float64
 8   imdb v0tes    80853 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.9+ MB

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
Great - you've used a comprehensive set of methods to have a first look at the data.

The table contains nine columns. The majority store the same data type: object. The only exceptions are `'release Year'` (int64 type), `'imdb sc0re'` (float64 type) and `'imdb v0tes'` (float64 type). Scores and votes will be used in our analysis, so it's important to verify that they are present in the dataframe in the appropriate numeric format. Three columns (`'TITLE'`, `'imdb sc0re'` and `'imdb v0tes'`) have missing values.

According to the documentation:
- `'name'` — actor/director's name and last name
- `'Character'` — character played (for actors)
- `'r0le '` — the person's contribution to the title (it can be in the capacity of either actor or director)
- `'TITLE '` — title of the movie (show)
- `'  Type'` — show or movie
- `'release Year'` — year when movie (show) was released
- `'genres'` — list of genres under which the movie (show) falls
- `'imdb sc0re'` — score on IMDb
- `'imdb v0tes'` — votes on IMDb

We can see three issues with the column names:
1. Some names are uppercase, while others are lowercase.
2. There are names containing whitespace.
3. A few column names have digit '0' instead of letter 'o'.

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data about a movie or show. The columns can be divided into two categories: the first is about the roles held by different people who worked on the movie or show (role, name of the actor or director, and character if the row is about an actor); the second category is information about the movie or show itself (title, release year, genre, imdb figures).

It's clear that there is sufficient data to do the analysis and evaluate our assumption. However, to move forward, we need to preprocess the data.

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
Please note that it is highly recommended to add a conclusion / summary after each section and describe briefly your observations and / or major outcomes of the analysis.

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

In [131]:
# the list of column names in the df table
df.columns

Index(['   name', 'Character', 'r0le', 'TITLE', '  Type', 'release Year',
       'genres', 'imdb sc0re', 'imdb v0tes'],
      dtype='object')

Change the column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Remove whitespace
* Replace zero with letter 'o'

In [132]:
# renaming columns
df = df.rename(columns = 
               {'   name':'name', 'Character':'character', 'r0le':'role', 'TITLE':'title', '  Type': 'type', 
                'release Year':'release_year','genres':'genres', 'imdb sc0re':'imdb_score', 'imdb v0tes':'imdb_votes'} )

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
This is a good way to rename the columns.

Check the result. Print the names of the columns once more:

In [133]:
# checking result: the list of column names
df.columns

Index(['name', 'character', 'role', 'title', 'type', 'release_year', 'genres',
       'imdb_score', 'imdb_votes'],
      dtype='object')

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, combine two `pandas` methods:

In [134]:
# calculating missing values
df.isna().sum()

name               0
character          0
role               0
title              1
type               0
release_year       0
genres             0
imdb_score      4609
imdb_votes      4726
dtype: int64

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
The isna() method is selected to find the missing values, it's great!

We identified missing values in several columns. While the missing value in `'title'` isn't critical, missing values in `'imdb_score'` and `'imdb_votes'` affect around 6% of the data, which could impact our analysis. To ensure data integrity, we'll drop all rows with missing values.

In [135]:
# dropping rows where columns with scores, and votes have missing values
df = df.dropna(axis = 'rows')

Make sure the table doesn't contain any more missing values. Count the missing values again.

In [136]:
# counting missing values
df.isna().sum()

name            0
character       0
role            0
title           0
type            0
release_year    0
genres          0
imdb_score      0
imdb_votes      0
dtype: int64

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
Perfect!

### Duplicates <a id='duplicates'></a>
Find the number of duplicate rows in the table using one command:

In [137]:
# counting duplicate rows
df.duplicated().sum()

6994

Review the duplicate rows to determine if removing them would distort our dataset.

In [138]:
# Produce table with duplicates (with original rows included) and review last 5 rows
df_duplicates = df[df.duplicated()]
df_duplicates.tail(5)

,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
85569,Jessica Cediel,Liliana Navarro,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85570,Javier Gardeaz?­bal,"Agust??n ""Peluca"" Ort??z",ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85571,Carla Giraldo,Valery Reinoso,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85572,Ana Mar??a S?­nchez,Lourdes,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85577,Isabel Gaona,Cacica,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0

There are two clear duplicates in the printed rows. We can safely remove them.
Call the `pandas` method for getting rid of duplicate rows:

In [139]:
# removing duplicate rows
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73859 entries, 0 to 85578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          73859 non-null  object
 1   character     73859 non-null  object
 2   role          73859 non-null  object
 3   title         73859 non-null  object
 4   type          73859 non-null  object
 5   release_year  73859 non-null  int64
 6   genres        73859 non-null  object
 7   imdb_score    73859 non-null  float64
 8   imdb_votes    73859 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.6+ MB

Check for duplicate rows once more to make sure you have removed all of them:

In [140]:
# checking for duplicates
df_duplicates = df[df.duplicated()]
df_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          0 non-null      object
 1   character     0 non-null      object
 2   role          0 non-null      object
 3   title         0 non-null      object
 4   type          0 non-null      object
 5   release_year  0 non-null      int64
 6   genres        0 non-null      object
 7   imdb_score    0 non-null      float64
 8   imdb_votes    0 non-null      float64
dtypes: float64(2), int64(1), object(6)
memory usage: 0.0+ bytes

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
Great, you found and removed the duplicates. And did very thorough checks to make sure the duplicates are gone.

Now get rid of implicit duplicates in the `'type'` column. For example, the string `'SHOW'` can be written in different ways. These kinds of errors will also affect the result.

Print a list of unique `'type'` names, sorted in alphabetical order. To do so:
* Retrieve the intended dataframe column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [141]:
# viewing unique type names
sorted(df['type'].unique())

['MOVIE',
 'SHOW',
 'movies',
 'shows',
 'the movie',
 'tv',
 'tv series',
 'tv show',
 'tv shows']

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 1</b> 
    
This is good.

Look through the list to find implicit duplicates of `'show'` (`'movie'` duplicates will be ignored since the assumption is about shows). These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `'shows'`
* `'SHOW'`
* `'tv show'`
* `'tv shows'`
* `'tv series'`
* `'tv'`

To get rid of them, declare the function `replace_wrong_show()` with two parameters: 
* `wrong_shows_list=` — the list of duplicates
* `correct_show=` — the string with the correct value

The function should correct the names in the `'type'` column from the `df` table (i.e., replace each value from the `wrong_shows_list` list with the value in `correct_show`).

In [142]:
# function for replacing implicit duplicates
def replace_wrong_show(df, wrong_shows_list, correct_show):
    df['type'] = df['type'].replace(wrong_shows_list, correct_show)
    return df

<div class="alert alert-danger"; style="border-left: 7px solid red">
<b>⛔️ Reviewer's comment, v. 1</b> 
    
Not quite right. Please note that we should replace only **implicit duplicates** in the 'type' column, but not all the values

<b>Student's comment</b>
<div class="alert alert-info"; style="border-left: 7px solid blue">
<b>Question:</b> Is there anything wrong with the function as it is defined above? I am assuming that your comment is referring only to the succeeding cell and not the preceding cell. Please correct me if I am wrong. Thank you!

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 2</b> 
    
This comment is about the code cell below, now it looks correctly

Call `replace_wrong_show()` and pass it arguments so that it clears implicit duplicates and replaces them with `SHOW`:

In [143]:
# removing implicit duplicates
wrong_shows_list = ['shows', 'SHOW', 'tv show','tv shows','tv series','tv']
correct_show = 'SHOW'
df = replace_wrong_show(df, wrong_shows_list, correct_show)
print(df)

                     name                character      role        title  \
0          Robert De Niro            Travis Bickle     ACTOR  Taxi Driver
1            Jodie Foster            Iris Steensma     ACTOR  Taxi Driver
2           Albert Brooks                      Tom     ACTOR  Taxi Driver
3           Harvey Keitel  Matthew 'Sport' Higgins     ACTOR  Taxi Driver
4         Cybill Shepherd                    Betsy     ACTOR  Taxi Driver
...                   ...                      ...       ...          ...
85573       A??da Morales                  Maritza     ACTOR      Lokillo
85574    Adelaida Buscato               Mar??a Paz     ACTOR      Lokillo
85575  Luz Stella Luengas             Karen Bayona     ACTOR      Lokillo
85576        In??s Prieto                    Fanny     ACTOR      Lokillo
85578      Julian Gaviria                  unknown  DIRECTOR      Lokillo

            type  release_year              genres  imdb_score  imdb_votes
0          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
1          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
2          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
3          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
4          MOVIE          1976  ['drama', 'crime']         8.2    808582.0
...          ...           ...                 ...         ...         ...
85573  the movie          2021          ['comedy']         3.8        68.0
85574  the movie          2021          ['comedy']         3.8        68.0
85575  the movie          2021          ['comedy']         3.8        68.0
85576  the movie          2021          ['comedy']         3.8        68.0
85578  the movie          2021          ['comedy']         3.8        68.0

[73859 rows x 9 columns]

<b>Student's comment</b>
<div class="alert alert-info"; style="border-left: 7px solid blue">

Okay, I understand now. For removing implicit duplicates, my original code was: 
    **wrong_shows_list =sorted(df['type'].unique())** 
And obviously that is outputting all the unique types; however, not all types are implicit duplicates for 'show'.
So I replaced that line of code with: **wrong_shows_list = ['shows', 'SHOW', 'tv show','tv shows','tv series','tv']**

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 2</b> 
    
Yep, it's prefect!

Make sure the duplicate names are removed. Print the list of unique values from the `'type'` column:

In [144]:
# viewing unique genre names
print(df['type'].unique())

['MOVIE' 'the movie' 'SHOW' 'movies']

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Duplicate rows and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All rows with missing values have been removed. 

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to our analysis of the prepared data.

## Stage 3. Data analysis <a id='hypotheses'></a>

Based on the previous project stages, you can now define how the assumption will be checked. Calculate the average amount of votes for each score (this data is available in the `imdb_score` and `imdb_votes` columns), and then check how these averages relate to each other. If the averages for shows with the highest scores are bigger than those for shows with lower scores, the assumption appears to be true.

Based on this, complete the following steps:

- Filter the dataframe to only include shows released in 1999 or later.
- Group scores into buckets by rounding the values of the appropriate column (a set of 1-10 integers will help us make the outcome of our calculations more evident without damaging the quality of our research).
- Identify outliers among scores based on their number of votes, and exclude scores with few votes.
- Calculate the average votes for each score and check whether the assumption matches the results.

To filter the dataframe and only include shows released in 1999 or later, you will take two steps. First, keep only titles published in 1999 or later in our dataframe. Then, filter the table to only contain shows (movies will be removed).

<div class="alert alert-danger"; style="border-left: 7px solid red">
<b>⛔️ Reviewer's comment, v. 1</b> 
    
This part of the work has not been completed. I will be waiting for the new version of the project, in which the remaining tasks will be completed.

<b>Student's comment</b>
<div class="alert alert-info"; style="border-left: 7px solid blue">

HELLO! I am so sorry about this, I am still confused as to what happened because all of this was completed prior to submission.
I did "Save As" before I submitted but I don't see how that would remove all my lines of code, LOL.
Anyway, luckily I had a saved file with my codes so I didn't have to redo everything. phew!

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 2</b> 
    
It's a pity that you came to face this, and it's a good thing that you had a local copy to quickly restore the code.

In [145]:
# using conditional indexing modify df so it has only titles released after 1999 (with 1999 included)
# give the slice of dataframe new name
df_new = df[df['release_year'] > 1998]

In [146]:
# repeat conditional indexing so df has only shows (movies are removed as result)
df_new = df_new[df_new['type'] == 'SHOW']

The scores that are to be grouped should be rounded. For instance, titles with scores like 7.8, 8.1, and 8.3 will all be placed in the same bucket with a score of 8.

In [147]:
# rounding column with scores
df_new['imdb_score'] = df_new['imdb_score'].round(0).astype(int)
#checking the outcome with tail()
df_new.tail()

,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
85433,Maneerat Kam-Uan,Ae,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8,5.0
85434,Rudklao Amratisha,unknown,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8,5.0
85435,Jaturong Mokjok,unknown,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8,5.0
85436,Pisamai Wilaisak,unknown,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8,5.0
85437,Sarawut Wichiensarn,unknown,DIRECTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8,5.0

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 2</b> 
    
All the transformations were performed absolutely correctly

It is now time to identify outliers based on the number of votes.

In [148]:
# Use groupby() for scores and count all unique values in each group, print the result
print(df_new.groupby('imdb_score')['imdb_votes'].count())

imdb_score
2       24
3       27
4      180
5      592
6     2494
7     4706
8     4842
9      557
10       8
Name: imdb_votes, dtype: int64

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 2</b> 
    
The dataframe was filtered and grouped flawlessly

Based on the aggregation performed, it is evident that scores 2 (24 voted shows), 3 (27 voted shows), and 10 (only 8 voted shows) are outliers. There isn't enough data for these scores for the average number of votes to be meaningful.

To obtain the mean numbers of votes for the selected scores (we identified a range of 4-9 as acceptable), use conditional filtering and grouping.

In [149]:
# filter dataframe using two conditions (scores to be in the range 4-9)
df_new = df_new[(df_new['imdb_score'] > 3) & (df_new['imdb_score'] < 10)]
# group scores and corresponding average number of votes, reset index and print the result
df_new = df_new.groupby('imdb_score')['imdb_votes'].mean().reset_index()
print(df_new)

   imdb_score     imdb_votes
0           4    5277.583333
1           5    3143.942568
2           6    3481.717322
3           7    8727.068211
4           8   30299.460967
5           9  126904.109515

Now for the final step! Round the column with the averages, rename both columns, and print the dataframe in descending order.

In [150]:
# round column with averages
df_new['imdb_votes'] = df_new['imdb_votes'].round().astype(int)
# rename columns
df_new = df_new.rename(columns = {'imdb_score':'imdb_score_group', 'imdb_votes': 'average_imdb_votes'})
# print dataframe in descending order
print(df_new.sort_values(by='average_imdb_votes', ascending = False))

   imdb_score_group  average_imdb_votes
5                 9              126904
4                 8               30299
3                 7                8727
0                 4                5278
2                 6                3482
1                 5                3144

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 2</b> 
    
Great! Also correct rounding and grouping in this section

The assumption macthes the analysis: the shows with the top 3 scores have the most amounts of votes.

## Conclusion <a id='hypotheses'></a>

The research done confirms that highly-rated shows released during the "Golden Age" of television also have the most votes. While shows with score 4 have more votes than ones with scores 5 and 6, the top three (scores 7-9) have the largest number. The data studied represents around 94% of the original set, so we can be confident in our findings.

<div class="alert alert-success"; style="border-left: 7px solid green">
<b>✅ Reviewer's comment, v. 2</b> 
    
Overall conclusion is an important part, where we should include the summary of the outcomes of the project.